
/*.flex-item{
background-color: lightpink;
/*margin: 20px;
padding: 10px;
border: 2px solid black;
}
.flex-container{
	display: flex;
}*/
/*h1{
	color: black;
	background-color: yellow;

}
p{
	background-color: red;
}*/